/* Progress bar wrapper */
.progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #000814;
    z-index: 999;
}

/* Animated bar */
.progress-bar {
    height: 100%;
    width: 0%;
    background: #3b82f6;
    transition: width 0.1s ease-out;
}