/* /css/main.css */

/* Import variables first */
@import "./variables.css";

/* Import components */
@import "./component/progress-bar.css";
@import "./component/button.css";
@import "./component/cursor.css";
/* @import "./components/skill-graph.css"; */

/* Import base.css */
@import "./base.css";


/* Import sections */
@import "./sections/hero.css";
@import "./sections/skills.css";
@import "./sections/contacts.css";
@import "./sections/footer.css";