/* /sections/hero.css */

.hero-content {
    text-align: center;
}

.logo-img {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
}

.name {
    font-size: 58px;
    margin-bottom: 0;
}

.role {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-medium);
    color: var(--color-text-light);
    margin-top: 0.25rem;
}

.typing-text {
    font-size: 24px;
}

.typing-text .typing {
    color: #3b82f6;
}

.bio {
    max-width: 600px;
    font-size: var(--font-size-xl);
    color: var(--color-text-light);
    margin: 5px auto;
}



.available-status {
    display: inline-flex;
    /* align-items: center; */
    gap: 6px;
    font-size: 0.95rem;
    color: var(--color-text-light);
    margin: 1.5rem 0;
    font-size: var(--font-size-lg);
}

/* Base dot */
.status-indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

/* Available state */
.status-indicator.available {
    background-color: #22c55e;
    /* green */
    box-shadow: 0 0 6px rgba(34, 197, 94, 0.7);
}

/* Subtle pulse animation */
.status-indicator.available::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: rgba(34, 197, 94, 0.5);
    animation: pulse 1s ease-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1.5);
        opacity: 0.8;
    }

    70% {
        transform: scale(4.5);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/* scroll indicator */
.scroll-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--space-12);
    opacity: 0.7;
    color: var(--color-text-light);
    animation: bounce 2s infinite;
}

.scroll-indicator svg {
    width: 24px;
    height: 24px;
    margin-bottom: var(--space-2);
}

.scroll-indicator span {
    text-transform: uppercase;
    font-size: var(--font-size-sm);
    letter-spacing: 1px;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(12px);
    }
}